html {
  font-size: 50px;
}
.mobileContainer {
  header {
    display: flex;
    justify-content: space-around;
    .header-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0.1rem;
      img {
        height: 0.7rem;
      }
      span {
        margin-left: 0.1rem;
        font-size: 0.4rem;
      }
    }
  }
}